@use "../../modules/units.module";

.loader {
  position: relative;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.16);

  border-top: 2px solid rgba(255, 255, 255, 0.75);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);

  animation: spin linear infinite 0.96s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small {
  width: units.$small;
  height: units.$small;
}

.medium {
  width: units.$medium;
  height: units.$medium;
}

.large {
  width: units.$large;
  height: units.$large;
}
