$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;

@mixin screen-xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $lg) {
    @content;
  }
}
