@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.header {
  height: units.$header-height;
  width: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
