@use "../../../../shared/modules/units.module";
@use "../../../../shared/modules/breakpoints.module";

$gap: units.$unit * 2;

.list {
  gap: $gap;
  @include breakpoints.screen-xs {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  @include breakpoints.screen-sm {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - $gap * 0.5));
  }

  @include breakpoints.screen-md {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - $gap * 0.5));
  }

  @include breakpoints.screen-lg {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - $gap * 0.5));
  }
}
