@use "../../modules/units.module";

.bottom_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: units.$bottom-bar-height;
  background: var(--opacity-surface);
  backdrop-filter: blur(24px) grayscale(0.8);
}
