@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.main {
  padding: units.$padding-y 0;
}

.page {
  @include breakpoints.screen-xs {
    padding-bottom: units.$bottom-bar-height;
  }
  @include breakpoints.screen-sm {
    padding-bottom: 0;
  }
  @include breakpoints.screen-md {
    max-height: 100vh;
    .content_wrap {
      padding-left: units.$sidebar-width;
    }
  }
}

.page_container {
}

.main {
  section:not(:last-child) {
    margin-bottom: units.$unit * 6;
  }
}
