@use "../../../../shared/modules/units.module";
@use "../../../../shared/modules/breakpoints.module";

.wrap {
  display: flex;
  gap: units.$unit * 2;

  @include breakpoints.screen-xs {
    &*:nth-child(1) {
      display: none;
    }
    &*:nth-child(2) {
      display: none;
    }
    &*:nth-child(3) {
      display: block;
    }
  }
}
