@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";
@use "../../shared/modules/typography.module";

.sidebar {
  z-index: 1500;
  background: var(--background);

  @include breakpoints.screen-md {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: units.$sidebar-width;
  }
}

.sidebar_top {
  padding-left: units.$padding-x;
  display: flex;
  align-items: center;
  height: units.$header-height;
}
