@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #ce50ff;
  --danger: #ef0404;
  --success: #9de637;
  --warning: #d77229;
}

body {
  background: var(--background);
}

.dark {
  --background: #201d1d;
  --surface: #2c2b2b;
  --text-primary: #f1e6e6;
  --text-secondary: #7b6e6e;
  --stroke: rgba(255, 255, 255, 0.08);
  --opacity-surface: rgba(44, 43, 43, 0.6);
}
