@use "../../shared/modules/units.module";

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 64px 0;
}

.auth_section {
  width: 100%;
}

.auth_section_container {
  display: flex;
  justify-content: center;
}

.auth_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: units.$unit * 3;
  width: 320px;
}

.auth_top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.auth_extra_wrap {
  width: 100%;
}
